/* Reset de estilos para asegurar una consistencia en todos los navegadores */
body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

/* Estilos generales para la aplicación */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4; /* Color de fondo general */
  color: #333; /* Color del texto principal */
}

.App {
  max-width: 1200px; /* Ancho máximo del contenido */
  margin: 0 auto; /* Centrar el contenido en la página */
  padding: 20px; /* Espaciado interno general */
}

/* Estilos para la barra de navegación */
.NavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px 20px;
  color: white;
}

.NavBar h3 {
  margin: 0;
  text-decoration: none;
  color: white;
}

.Categories {
  display: flex;
}

.Categories a {
  margin-right: 15px;
  text-decoration: none;
  color: white;
  background-color: transparent;
  padding: 8px 16px;
}

.Categories a.active {
  color: #ffcc00;
  background-color: transparent;
}

/* Estilos para la sección de contenido principal */
.ItemListContainer,
.ItemDetailContainer,
.Cart {
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

/* Estilos adicionales según sea necesario para otras secciones de la aplicación */
