.CartWidget {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
}

.CartWidget img {
  width: 20px;
  height: auto;
  margin-right: 5px;
}

.CartWidget span {
  font-size: 14px;
  background-color: #007bff;
  color: white;
  padding: 5px 10px;
  border-radius: 50%;
}
